.modal {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 0px 0px 0px;
    outline: none;
    margin-top: 6%;
   
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .medium {
    width: 40%;
    border-radius: 5px; /* Adjust the width to your preference for a medium-sized modal */
  }
  input{
    height: 30px;
  }
 